@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

* {
  font-family: Roboto;
  font-weight: 400;
}

h1 {
  font-weight: 500;
}

p, li, h1, ul {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.35em;
}

/** Header **/
header {
  text-align: center;
  /** Localisation **/
}

header .header__heading {
  height: 36px;
  padding-top: 20px;
  -webkit-box-shadow: 0px 1.5px rgba(0, 0, 0, 0.137);
          box-shadow: 0px 1.5px rgba(0, 0, 0, 0.137);
}

header .header__heading img {
  width: 145px;
}

header .location {
  background: rgba(128, 128, 128, 0.144);
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .location p {
  width: 100%;
  margin-right: 23px;
  font-size: 0.9em;
  margin-top: 12px;
}

header .location .fa-map-marker-alt {
  padding-right: 13px;
}

/** Searching **/
.Explore {
  background: rgba(128, 128, 128, 0.055);
  text-align: center;
  height: 275px;
}

.Explore h1 {
  padding-top: 35px;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.Explore p {
  color: #838181;
  margin-bottom: 35px;
}

.Explore .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Explore .btn_container .btn--pink {
  font-size: 0.95em;
  width: 65%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  height: 50px;
  border-radius: 40px;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.226);
          box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.226);
}

.Explore .btn_container .btn--pink p {
  color: white;
  padding-top: 15px;
}

/** Fonctionnement **/
.function {
  margin-top: 50px;
  padding-left: 17px;
  padding-right: 17px;
}

.function .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  background-color: rgba(189, 189, 189, 0.219);
  height: 65px;
  width: 94.5%;
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: rgba(192, 191, 191, 0.527) 2px 4px 9px 1px;
          box-shadow: rgba(192, 191, 191, 0.527) 2px 4px 9px 1px;
  margin-left: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.function .btn > p {
  font-size: 0.95em;
  width: 80%;
  padding-left: 18px;
}

.function .btn > i {
  color: gray;
  padding-left: 28px;
  font-size: 19px;
}

.function .fa-list-ul {
  padding-left: 21px;
}

.function .fa-store {
  color: #9356DC;
  font-size: 15px;
  padding-left: 22px;
}

.function .numbers {
  margin-left: 14px;
  background-color: #9356DC;
  border-radius: 30px;
  width: 23px;
  height: 23px;
  position: absolute;
  left: -30px;
  top: 22px;
  font-weight: normal;
}

.function .numbers > span {
  padding-top: 1px;
  width: 15px;
  height: 15px;
  color: rgba(255, 255, 255, 0.836);
  position: absolute;
  top: 2.4px;
  left: 7.6px;
  font-size: 0.9em;
}

.function .btn--one {
  margin-top: 35px;
}

.function .btn:hover > i {
  color: #9356DC;
}

.function .btn:hover > p {
  font-weight: bold;
}

/** Restaurant-Choice **/
.Restaurant-Choice {
  margin-top: 50px;
  padding-left: 17px;
  padding-top: 40px;
  background: rgba(128, 128, 128, 0.068);
  height: 990px;
}

.Restaurant-Choice .title {
  margin-bottom: 25px;
}

.Restaurant-Choice .Restaurant {
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(128, 128, 128, 0.74);
          box-shadow: 1px 1px 15px 1px rgba(128, 128, 128, 0.74);
  width: 96%;
  margin-top: 15px;
  position: relative;
  display: block;
  /** Restaurant-Choice -> Bottom-Side **/
  /** Bottom-side -> Heart icon **/
}

.Restaurant-Choice .Restaurant > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 150px;
}

.Restaurant-Choice .Restaurant .BottomSide {
  height: 55px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Restaurant-Choice .Restaurant .BottomSide > p {
  margin-top: 2px;
  font-size: 0.92rem;
}

.Restaurant-Choice .Restaurant .BottomSide .RestaurantName {
  font-weight: bold;
  font-size: 0.95rem;
  margin-top: 8px;
}

.Restaurant-Choice .Restaurant .New {
  position: absolute;
  right: 10px;
  top: 15px;
  background: #84c5b2;
  color: green;
  border-radius: 3px;
  width: 85px;
  height: 24px;
  text-align: center;
  padding-top: 7px;
  font-size: 0.92em;
}

.Restaurant-Choice .Restaurant .fa-stack {
  margin-top: 10px;
  margin-right: 18px;
  width: 8%;
  height: 20px;
}

.Restaurant-Choice .Restaurant .fa-stack .empty-heart {
  font-size: 20px;
  width: auto;
  height: 20px;
}

.Restaurant-Choice .Restaurant .fa-stack .fill-heart {
  font-size: 20px;
  opacity: 0;
  color: #9356DC;
  width: auto;
  height: 20px;
}

.Restaurant-Choice .Restaurant .fa-stack:hover .empty-heart {
  opacity: 0;
}

.Restaurant-Choice .Restaurant .fa-stack:hover .fill-heart {
  opacity: 1;
}

/** Footer **/
footer {
  background: #353535;
  /** Footer list **/
}

footer > img {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
}

footer ul {
  padding-left: 20px;
  list-style-type: none;
}

footer ul .one, footer ul .two, footer ul .three {
  margin-bottom: 7px;
}

footer ul li a {
  color: white;
  font-size: 14.5px;
}

footer ul li a i {
  margin-right: 10px;
  font-size: 15px;
  width: 15px;
}

footer ul li a .fa-hands-helping {
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */