@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
}

h1 {
  font-family: Roboto;
  font-weight: 500;
}

a {
  color: black;
  text-decoration: none;
  font-family: Roboto;
  -webkit-tap-highlight-color: transparent;
}

p {
  font-family: Roboto;
  font-weight: 400;
}

/** Header **/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header a {
  padding-top: 6px;
  color: black;
  font-size: 20px;
}

header .header__heading {
  padding-top: 12px;
  width: 80%;
  text-align: center;
}

header .header__heading img {
  width: 170px;
}

/** Preview **/
.restaurant-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-preview img {
  width: 100%;
  height: 265px;
  -o-object-fit: cover;
     object-fit: cover;
}

/** Section-Menu **/
.menu {
  z-index: 9999;
  position: relative;
  width: 100%;
  top: -60px;
  background: white;
  border-radius: 35px;
  /** Entrance **/
}

.menu .title {
  margin-top: 15px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
  /** Hearth icon **/
}

.menu .title > h1 {
  width: 75%;
  font-size: 1.8em;
  font-family: Shrikhand;
  margin-top: 5px;
  margin-bottom: 0;
}

.menu .title > a {
  margin-right: 10px;
  font-size: 20.5px;
}

.menu .title .fa-stack {
  width: 25px;
  height: 20px;
  margin-bottom: 7px;
}

.menu .title .fa-stack .empty-heart {
  font-size: 21px;
  width: auto;
  height: 20px;
}

.menu .title .fa-stack .fill-heart {
  font-size: 21px;
  width: auto;
  height: 0px;
  opacity: 0;
}

.menu .title .fa-stack:hover .empty-heart {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0;
}

.menu .title .fa-stack:hover .fill-heart {
  -webkit-animation: 0.6s ease-in 0s alternate forwards hearthfill;
          animation: 0.6s ease-in 0s alternate forwards hearthfill;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  height: 20px;
}

.menu .first {
  margin-top: 20px;
}

.menu .second, .menu .last {
  margin-top: 37px;
}

.menu .entrance {
  margin-left: 13px;
}

.menu .entrance .text-border {
  text-transform: uppercase;
  position: relative;
  border-bottom: 3px solid #23d9f1;
  width: 41px;
}

.menu .one, .menu .two {
  margin-bottom: 14px;
}

.menu .four {
  margin-top: 14px;
}

.menu .entrance-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 13px;
  background: white;
  -webkit-box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.199);
          box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.199);
  border-radius: 10px;
  height: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /** Block leftside **/
  /** Block rightside **/
}

.menu .entrance-container .entrance-leftside {
  width: 80%;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.menu .entrance-container .entrance-leftside p {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 0.93em;
  letter-spacing: -0.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu .entrance-container .entrance-leftside .entrance-boldtext {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  margin: 0;
  font-size: 1.1em;
}

.menu .entrance-container .entrance-rightside {
  width: 10%;
  line-height: 4.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  /** CheckAnimation **/
}

.menu .entrance-container .entrance-rightside > p {
  margin: 0;
  font-size: 0.95em;
  font-weight: 500;
  text-align: end;
  padding-top: 9px;
  padding-right: 16px;
}

.menu .entrance-container .entrance-rightside .fa-check-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #99e2d0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  width: 0px;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  overflow: hidden;
}

.menu .entrance-container .entrance-rightside .fa-check-circle:before {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: white;
}

.menu .entrance-container:hover .entrance-leftside {
  width: 60%;
}

.menu .entrance-container:hover .entrance-rightside {
  width: 40%;
}

.menu .entrance-container:hover .fa-check-circle {
  visibility: visible;
  width: 58px;
}

.menu .entrance-container:hover .fa-check-circle:before {
  visibility: visible;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 15px;
}

.btn_container .btn--pink {
  font-size: 0.95em;
  width: 195px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  height: 50px;
  border-radius: 40px;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.226);
          box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.226);
}

.btn_container .btn--pink p {
  text-align: center;
  color: white;
  padding-top: 15px;
  margin: 0;
}

.btn_container .btn--pink:hover {
  -webkit-box-shadow: 4px 4px 10px 2px rgba(146, 146, 146, 0.226);
          box-shadow: 4px 4px 10px 2px rgba(146, 146, 146, 0.226);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fd8ede), to(#9b66db));
  background-image: linear-gradient(to bottom right, #fd8ede, #9b66db);
}

.btn_container .btn--pink:hover p {
  color: #ffffff;
}

/** Footer **/
footer {
  background: #353535;
  height: auto;
  /** Footer list **/
}

footer > img {
  width: 110px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}

footer ul {
  padding-left: 20px;
  list-style-type: none;
  margin-bottom: 0;
  padding-bottom: 25px;
}

footer ul .one, footer ul .two, footer ul .three {
  margin-bottom: 7px;
}

footer ul li a {
  color: white;
  font-size: 14.5px;
}

footer ul li a i {
  margin-right: 10px;
  font-size: 15px;
  width: 15px;
}

footer ul li a .fa-hands-helping {
  font-size: 12px;
}

/** Top to bottom apparition **/
.apparition-1, .apparition-2, .apparition-3, .apparition-4,
.apparition-5, .apparition-6, .apparition-7, .apparition-8,
.apparition-9, .apparition-10 {
  visibility: hidden;
  margin-top: 30px;
  -webkit-animation: apparition 0.75s;
          animation: apparition 0.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.apparition-1 {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.apparition-2 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.apparition-3 {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.apparition-4 {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.apparition-5 {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.apparition-6 {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.apparition-7 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.apparition-8 {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.apparition-9 {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.apparition-10 {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

@-webkit-keyframes apparition {
  from {
    visibility: hidden;
    -webkit-transform: rotateX(-50deg);
            transform: rotateX(-50deg);
  }
  to {
    margin-top: 0px;
    visibility: visible;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes apparition {
  from {
    visibility: hidden;
    -webkit-transform: rotateX(-50deg);
            transform: rotateX(-50deg);
  }
  to {
    margin-top: 0px;
    visibility: visible;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
/*# sourceMappingURL=style.css.map */